grant codeBase "file:C:/eclipse/3.1Security/eclipse/plugins/org.eclipse.osgi_3.1.0.jar" {
	java.io.FilePermission ".options", "read"
	java.io.FilePermission "???file???", "read"
	java.lang.RuntimePermission "createSecurityManager"
	java.lang.RuntimePermission "getClassLoader"
	java.net.NetPermission "specifyStreamHandler"
	java.util.PropertyPermission "java.vendor.url.bug", "read"
	java.util.PropertyPermission "osgi.debug", "read"
	java.util.PropertyPermission "user.dir", "read"
}
grant codeBase "file:C:/wp/eclipseui/org.eclipse.jface/org.eclipse.jface.jar" {
	java.io.FilePermission "", "read"
	java.io.FilePermission "???file???", "read"
	java.io.FilePermission "???file???", "write"
	java.io.FilePermission "images/dots_button.gif", "read"
	java.io.FilePermission "images/message_error.gif", "read"
	java.io.FilePermission "images/message_info.gif", "read"
	java.io.FilePermission "images/message_warning.gif", "read"
	java.io.FilePermission "images/page.gif", "read"
	java.io.FilePermission "images/pref_dialog_title.gif", "read"
	java.io.FilePermission "images/stop.gif", "read"
	java.io.FilePermission "images/title_banner.gif", "read"
	java.lang.RuntimePermission "getClassLoader"
	java.lang.RuntimePermission "modifyThread"
	java.net.NetPermission "specifyStreamHandler"
	java.net.SocketPermission ":???port???", "connect"
	java.util.PropertyPermission "java.vendor.url.bug", "read"
	java.util.PropertyPermission "user.dir", "read"
}
grant codeBase "file:C:/eclipse/3.1Security/eclipse/plugins/org.eclipse.swt.win32.win32.x86_3.1.0.jar" {
	java.io.FilePermission "", "read"
	java.io.FilePermission "???file???", "read"
	java.io.FilePermission "images/dots_button.gif", "read"
	java.io.FilePermission "images/message_error.gif", "read"
	java.io.FilePermission "images/message_info.gif", "read"
	java.io.FilePermission "images/message_warning.gif", "read"
	java.io.FilePermission "images/page.gif", "read"
	java.io.FilePermission "images/pref_dialog_title.gif", "read"
	java.io.FilePermission "images/stop.gif", "read"
	java.io.FilePermission "images/title_banner.gif", "read"
	java.lang.RuntimePermission "getClassLoader"
	java.lang.RuntimePermission "loadLibrary.???library???"
	java.lang.RuntimePermission "modifyThread"
	java.net.NetPermission "specifyStreamHandler"
	java.net.SocketPermission ":???port???", "connect"
	java.util.PropertyPermission "java.library.path", "read"
	java.util.PropertyPermission "sun.boot.library.path", "read"
	java.util.PropertyPermission "swt.version", "read"
	java.util.PropertyPermission "user.dir", "read"
}
grant codeBase "file:C:/eclipse/3.1Security/eclipse/plugins/org.eclipse.core.runtime_3.1.0.jar" {
	java.lang.RuntimePermission "getClassLoader"
	java.util.PropertyPermission "java.vendor.url.bug", "read"
}
