grant codeBase "file:E:/wp/IR4D/org.eclipse.osgi/org.eclipse.osgi.jar" {
	java.net.SocketPermission "*", "resolve"
	java.net.SocketPermission "*:???port???", "connect"
	java.net.SocketPermission "-1", "resolve"
	java.net.SocketPermission "-1:???port???", "connect"
	java.net.SocketPermission "-2", "resolve"
	java.net.SocketPermission "-2147483648", "resolve"
	java.net.SocketPermission "-2147483648:???port???", "connect"
	java.net.SocketPermission "-2:???port???", "connect"
	java.net.SocketPermission "-3", "resolve"
	java.net.SocketPermission "-3:???port???", "connect"
	java.net.SocketPermission "-9223372036854775808", "resolve"
	java.net.SocketPermission "-9223372036854775808:???port???", "connect"
	java.net.SocketPermission ".", "resolve"
	java.net.SocketPermission ".:???port???", "connect"
	java.net.SocketPermission "0", "resolve"
	java.net.SocketPermission "0:???port???", "connect"
	java.net.SocketPermission "1", "resolve"
	java.net.SocketPermission "1.3", "resolve"
	java.net.SocketPermission "1.3:???port???", "connect"
	java.net.SocketPermission "10", "resolve"
	java.net.SocketPermission "10:???port???", "connect"
	java.net.SocketPermission "13", "resolve"
	java.net.SocketPermission "13:???port???", "connect"
	java.net.SocketPermission "1:???port???", "connect"
	java.net.SocketPermission "2", "resolve"
	java.net.SocketPermission "23", "resolve"
	java.net.SocketPermission "23:???port???", "connect"
	java.net.SocketPermission "2:???port???", "connect"
	java.net.SocketPermission "3", "resolve"
	java.net.SocketPermission "3.0.0", "resolve"
	java.net.SocketPermission "3.0.0:???port???", "connect"
	java.net.SocketPermission "3:???port???", "connect"
	java.net.SocketPermission "4", "resolve"
	java.net.SocketPermission "4:???port???", "connect"
	java.net.SocketPermission "5", "resolve"
	java.net.SocketPermission "5:???port???", "connect"
	java.net.SocketPermission "6", "resolve"
	java.net.SocketPermission "6:???port???", "connect"
	java.net.SocketPermission "7", "resolve"
	java.net.SocketPermission "7:???port???", "connect"
	java.net.SocketPermission "8", "resolve"
	java.net.SocketPermission "8:???port???", "connect"
	java.net.SocketPermission "9", "resolve"
	java.net.SocketPermission "9:???port???", "connect"
	java.net.SocketPermission ":???port???", "connect"
	java.net.SocketPermission "???host???", "resolve"
	java.net.SocketPermission "???host???:???port???", "accept"
	java.net.SocketPermission "???host???:???port???", "connect"
	java.net.SocketPermission "Eclipse", "resolve"
	java.net.SocketPermission "Eclipse:???port???", "connect"
	java.net.SocketPermission "META-INF/MANIFEST.MF", "resolve"
	java.net.SocketPermission "META-INF/MANIFEST.MF:???port???", "connect"
	java.net.SocketPermission "No message available.", "resolve"
	java.net.SocketPermission "No message available.:???port???", "connect"
	java.net.SocketPermission "aix", "resolve"
	java.net.SocketPermission "aix:???port???", "connect"
	java.net.SocketPermission "bin", "resolve"
	java.net.SocketPermission "bin:???port???", "connect"
	java.net.SocketPermission "bundles", "resolve"
	java.net.SocketPermission "bundles:???port???", "connect"
	java.net.SocketPermission "carbon", "resolve"
	java.net.SocketPermission "carbon:???port???", "connect"
	java.net.SocketPermission "false", "resolve"
	java.net.SocketPermission "false:???port???", "connect"
	java.net.SocketPermission "fragment.xml", "resolve"
	java.net.SocketPermission "fragment.xml:???port???", "connect"
	java.net.SocketPermission "hpux", "resolve"
	java.net.SocketPermission "hpux:???port???", "connect"
	java.net.SocketPermission "linux", "resolve"
	java.net.SocketPermission "linux:???port???", "connect"
	java.net.SocketPermission "localhost:1024-:???port???", "connect"
	java.net.SocketPermission "localhost:???port???", "connect"
	java.net.SocketPermission "macosx", "resolve"
	java.net.SocketPermission "macosx:???port???", "connect"
	java.net.SocketPermission "manifests", "resolve"
	java.net.SocketPermission "manifests:???port???", "connect"
	java.net.SocketPermission "motif", "resolve"
	java.net.SocketPermission "motif:???port???", "connect"
	java.net.SocketPermission "org.eclipse.osgi", "resolve"
	java.net.SocketPermission "org.eclipse.osgi:???port???", "connect"
	java.net.SocketPermission "photon", "resolve"
	java.net.SocketPermission "photon:???port???", "connect"
	java.net.SocketPermission "plugin.xml", "resolve"
	java.net.SocketPermission "plugin.xml:???port???", "connect"
	java.net.SocketPermission "qnx", "resolve"
	java.net.SocketPermission "qnx:???port???", "connect"
	java.net.SocketPermission "solaris", "resolve"
	java.net.SocketPermission "solaris:???port???", "connect"
	java.net.SocketPermission "true", "resolve"
	java.net.SocketPermission "true:???port???", "connect"
	java.net.SocketPermission "unknown", "resolve"
	java.net.SocketPermission "unknown:???port???", "connect"
	java.net.SocketPermission "win32", "resolve"
	java.net.SocketPermission "win32:???port???", "connect"
	java.net.SocketPermission "x86", "resolve"
	java.net.SocketPermission "x86:???port???", "connect"
	java.net.SocketPermission "x86_64", "resolve"
	java.net.SocketPermission "x86_64:???port???", "connect"
	java.net.SocketPermission localhost:???port???, "listen"
	java.security.AllPermission 
	java.util.PropertyPermission "", "read"
	org.osgi.framework.AdminPermission "<unknown>", "<unknown>"
	org.osgi.framework.ServicePermission "<unknown>", "<unknown>"
	org.osgi.framework.ServicePermission "java.net.ContentHandler", "<unknown>"
	org.osgi.framework.ServicePermission "org.osgi.service.url.URLStreamHandlerService", "<unknown>"
}
