grant codeBase "file:C:/ejs/eclipse_head/org.eclipse.core.runtime/org.eclipse.core.runtime.jar" {
	java.io.FilePermission "", "read"
	java.io.FilePermission "", "write"
	java.io.FilePermission ".keyring", "delete"
	java.io.FilePermission ".keyring", "read"
	java.io.FilePermission ".keyring", "write"
	java.io.FilePermission "???System Property Value???", "delete"
	java.io.FilePermission "???System Property Value???", "write"
	java.io.FilePermission "???file???", "delete"
	java.io.FilePermission "???file???", "read"
	java.io.FilePermission "???file???", "write"
	java.io.FilePermission "GMT", "delete"
	java.io.FilePermission "GMT", "write"
	java.io.SerializablePermission "enableSubclassImplementation"
	java.lang.RuntimePermission "createClassLoader"
	java.lang.RuntimePermission "getClassLoader"
	java.net.NetPermission "specifyStreamHandler"
	java.util.PropertyPermission "eclipse.product", "read"
	java.util.PropertyPermission "eclipse.startTime", "read"
	java.util.PropertyPermission "java.vendor.url.bug", "read"
	java.util.PropertyPermission "osgi.arch", "read"
	java.util.PropertyPermission "osgi.debug", "read"
	java.util.PropertyPermission "osgi.dev", "read"
	java.util.PropertyPermission "osgi.nl", "read"
	java.util.PropertyPermission "osgi.os", "read"
	java.util.PropertyPermission "osgi.ws", "read"
	java.util.PropertyPermission "user.dir", "read"
}
