grant codeBase "file:C:/wp/rcpanalysis/org.eclipse.swt.win32.win32.x86/org.eclipse.swt.win32.win32.x86.jar" {
	java.io.FilePermission "<<ALL FILES>>", "execute"
	java.io.FilePermission "???file???", "read"
	java.io.FilePermission "???file???", "write"
	java.lang.RuntimePermission "getClassLoader"
	java.lang.RuntimePermission "loadLibrary.???library???"
	java.lang.RuntimePermission "loadLibrary.jawt"
	java.net.NetPermission "specifyStreamHandler"
	java.util.PropertyPermission "file.encoding", "read"
	java.util.PropertyPermission "java.execsuffix", "read"
	java.util.PropertyPermission "java.library.path", "read"
	java.util.PropertyPermission "sun.boot.library.path", "read"
	java.util.PropertyPermission "swt.version", "read"
	java.util.PropertyPermission "user.dir", "read"
}
